.table, tr, th, td{
    border: 1px solid black;
}

.table{
    margin: 100px;
    border: outset;
    box-shadow: 3px 3px 2px black;
    border-block-end-style: outset;
}
th, td{
    padding: 5px;
    text-align: center;
}

.icon{
    width: 40px;
    display: flex;
    justify-self: center;
}
