.contact-form{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-self: center;
    background-color: #CBB3BF;
    border: 2px solid rgb(1, 1, 23);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#user-msg{
    resize: vertical;
    border-radius: 5px;
    
}

.btn-submit{
    height: 30pxpx;
    background-color: green;
    border-radius: 8px;
    box-shadow: 2px 2px 1px rgb(164, 55, 227);
}

